/* Existing styles */

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  /* Removed overflow: hidden; */
}

.main-section {
  display: flex;
  flex: 1;
  margin-top: 60px;
}

.sidebar {
  width: 60px;
  background-color: #575859;
  height: calc(100vh - 80px);
  transition: width 0.3s ease;
  position: relative;
}

.sidebar.expanded {
  width: 250px;
}

.main-content {
  margin-left: 10px;
  padding: 20px;
  flex-grow: 1;
  overflow-y: auto;
  height: calc(100vh - 60px);
  background-color: #f8f9fa;
  transition: margin-left 0.3s ease;
}

.main-content.expanded {
  margin-left: 250px;
}

/* New styles for mobile devices */
@media screen and (max-width: 767px) {

  .modalchat{
    width: 100% !important;
  }
  .main-section {
    flex-direction: column;
    height: calc(100vh - 60px); /* Fill the viewport height minus header */
    overflow: hidden;
  }

  .sidebar {
    order: 2; /* Move sidebar below main content */
    width: 100%;
    height: 60px; /* Fixed height for bottom sidebar */
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
  }

  .sidebar.expanded {
    height: auto; /* Allow the sidebar to expand vertically if needed */
  }

  .main-content {
    order: 1;
    margin-left: 0;
    margin-bottom: 60px; /* Match the bottom sidebar height */
    height: calc(100vh - 80px - 60px); /* Viewport height minus header and bottom sidebar */
    overflow-y: auto; /* Enable vertical scrolling */
  }

  .main-content.expanded {
    margin-left: 0;
  }
}
