.header-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #131314;
  color: white;
  height: 60px;
  box-sizing: border-box; /* Ensure padding is included in height */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header-left {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex: 1; /* Allow header-left to take available space */
}

.header-title {
  display: flex;
  align-items: center;
}

.header-title h1 {
  margin: 0;
  font-size: 2.5rem;
  white-space: nowrap; /* Prevent title from wrapping */
}

.header-search {
  margin-left: 500px;
}

.header-search input {
  padding: 10px;
  font-size: 1rem;
  border-radius: 20px;
  border: none;
  outline: none;
  width: 500px;
  max-width: 100%;
  box-sizing: border-box; /* Include padding in width calculations */
}

.header-right {
  display: flex;
  align-items: center;
}

.time-frame-section {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.time-frame-label {
  font-size: 1rem;
  margin-right: 10px;
}

.time-frame-value {
  font-size: 1rem;
  color: grey;
}

.header-profile {
  cursor: pointer;
}

/* Responsive Design for Mobile */
@media screen and (max-width: 767px) {
  /* Hide the logo and title on small screens */
  .header-title {
    display: none;
  }

  /* Only display the FaSearch icon on mobile */
  .header-search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
  }


  .header-search input {
    display: none; /* Hide input on mobile */
  }

  /* Hide the right side content (time frame and profile icon) */
  .header-right {
    display: none;
  }

  /* Ensure the FaSearch icon is centered */
  .header-bar {
    justify-content: center;
  }
}
